# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea/
*.prof
w/000000.vlog
p/LOCK
conf/aof.log
w/LOCK
p/000000.vlog
w/MANIFEST
p/MANIFEST
